---
import "../../../css/transitions.css";
import Container from "../../../layouts/Container.astro";
import Content from "../../../layouts/Content.astro";
import { gallerySection } from "src/assets/gallery/gallery";

export const getStaticPaths = async () => {
  const imgKeys = gallerySection.map((photo) => photo.id);
  return imgKeys.map((id) => ({ params: { id: id } }));
};

interface Props {
  id: number;
}

const { id } = Astro.params;

const photo = gallerySection.find((photo) => photo.id == id);
const photoIndex = gallerySection.findIndex((photo) => photo.id == id) + 1;

const prevPhoto = gallerySection.find((photo) => photo.id == photoIndex - 1);
const nextPhoto = gallerySection.find((photo) => photo.id == photoIndex + 1);

export const prerender = true;
---

<Container title="Gallery" navbarFixed={true}>
  <main class="relative mx-auto w-full h-full">
    <Content>
      <div
        class="mx-auto flex flex-col gap-y-8 items-center justify-center object-contain w-4/5 md:w-8/12"
      >
        <img
          decoding="async"
          src={photo?.url}
          alt=""
          class="md:max-h-[540px] rounded-xl shadow-lg shadow-black/40"
          transition:name={`photo-${id}`}
        />
        <div class="flex flex-row gap-x-3 items-center justify-center">
          {
            photoIndex - 1 > 0 && (
              <a
                href={`/gallery/photo/${photoIndex - 1}`}
                class="w-1/6 h-20 flex overflow-clip rounded-lg transition-all duration-1000 items-center justify-center hover:shadow-lg hover:shadow-black/55"
              >
                <img
                  class="place-self-center hover:scale-125 transition-all duration-500"
                  src={prevPhoto?.url}
                  height={240}
                  alt=""
                  loading={
                    photoIndex - 1 && photoIndex - 1 > 8 ? "lazy" : "eager"
                  }
                  fetchpriority={
                    photoIndex - 1 && photoIndex - 1 <= 4 ? "high" : "auto"
                  }
                />
              </a>
            )
          }
          {
            photoIndex + 1 < gallerySection.length && (
              <a
                href={`/gallery/photo/${photoIndex + 1}`}
                class="w-1/6 h-20 flex overflow-clip rounded-lg transition-all duration-1000 items-center justify-center hover:shadow-lg hover:shadow-black/55"
              >
                <img
                  class="place-self-center hover:scale-125 transition-all duration-500"
                  src={nextPhoto?.url}
                  height={240}
                  alt=""
                  loading={
                    photoIndex + 1 && photoIndex + 1 > 8 ? "lazy" : "eager"
                  }
                  fetchpriority={
                    photoIndex + 1 && photoIndex + 1 <= 4 ? "high" : "auto"
                  }
                />
              </a>
            )
          }
        </div>
      </div>
    </Content>
  </main>
  <script src="../../../scripts/transitions.ts"></script>
</Container>
